<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.backend.facedatabase.mapper.Face2classesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.system.backend.facedatabase.entity.Face2classes">
        <id column="imageId" property="imageId" />
        <result column="imageFilename" property="imageFilename" />
        <result column="imageClass" property="imageClass" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        imageId, imageFilename, imageClass
    </sql>

</mapper>
